.header {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: visible; /* Adjusted overflow */
  background-color: rgba(255, 255, 255, 0.4);
}
.header-bg {
  background-color: white;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.header .nav-menu a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
  position: relative; /* Added position relative */
}
.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px); /* Adjusted top position */
  left: 0;
  display: none;
  list-style: none;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%; /* Ensure dropdown width matches the navbar */
  z-index: 999; /* Ensure dropdown is on top */
}

.register-item:hover .dropdown-menu {
  display: block;
}

/* Adjust padding to create space between navbar items */
.nav-item {
  padding: 1rem;
  font-weight: 500;
  position: relative;
}

/* Styles for dropdown items */
.dropdown-menu li {
  padding: 1rem;
}

/* Ensure dropdown menu stays within viewport */
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

.header .navbar img {
  width: 250px;
  height: auto;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid #08ada7;
}

.hamburger {
  display: none;
}
.down-icon {
  outline: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: rgba(240, 234, 234, 0.9);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .header .navbar img {
    width: 150px;
  }
  @media screen and (max-width: 500px) {
    .header {
      max-width: screen;
      background-color: rgba(0, 0, 0, 0.9);
    }
    .header .navbar {
      max-width: 100%;
    }
  }
}
